.features-list {
  display: flex;
}

.features-list__item {
  width: 270px;
}

.features-list__item + .features-list__item {
  margin-left: var(--main-margin);
}

.features-list__wrap {
  width: 270px;
  height: 120px;
  background: var(--button-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--main-margin);
}

.features__titles {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
