.work.section {
  padding-top: 0;
}

.work__title {
  margin-bottom: var(--second-margin);
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
}

.work-list__item + .work-list__item {
  margin-left: var(--main-margin);
}

.work-list__cover {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  bottom: 0px;
  width: 100%;
}
